__pycache__/
*.pyc
.venv/
venv/
*.egg-info/
.pytest_cache/
.ruff_cache/

# secrets
.env
*.env.local

# data & artifacts
data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep
models/*
!models/.gitkeep
logs/*
!logs/.gitkeep

# OS
.DS_Store

# IDE
.vscode/
.idea/

# vercel
.vercel
